/* 
    Properti yang diwariskan :
    1. color
    2. font
    3. letter-spacing
    4. list-height
    5. list-style
    6. text-align
    7. text-indent
    8. text-transform
    9. visibility
    10. white-space
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    /* tag html <a> tidak akan ikut menjadi dark grey */
}

/* Sehingga harus dilakukan seperti ini : */
a {
    color: inherit;
}